:root {
    --Header-bg: #2e3038;
    --Txt-color:  #333;
    --navBg-color: #eee;
    --hover-github: #333;
}
:root .darkmode-body{
    --Header-bg: #0d0d0d;
    --Txt-color:  #fff;
    --navBg-color: #2a2a2e;
    --hover-github: #fff;
}

header {
    display: block;
    position: fixed;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: var(--Header-bg);
    transition: 0.3s;
    box-shadow: 0 0 8px 0;
    z-index: 15;
}
#to-home {
    position: absolute;
    width: 200px;
}

#header-logo {
    display: block;
    width: 200px;
    height: auto;
    padding: 15px 20px 13px 20px;
    background-color: var(--Header-bg);
    transition: 0.3s;
}
#header-logo svg {
    margin: 0 auto;
    fill: white;
}

#bg {
    visibility: hidden;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: .3s;
    z-index: 5;
    background: #000;
}
#nav-container:focus-within #bg {
    opacity: .4;
    visibility: visible;
}

.menu {
    --menu-size: 20px;
    display: block;
    position: fixed;
    top: calc((56.41px - var(--menu-size)) / 2);
    right: 25px;
    width:  calc(var(--menu-size) * 1.25);
    height: var(--menu-size);
    cursor: pointer;
    z-index: 20;
}
.menu-line {
    top: calc(50% - 1px);
}
.menu-inner::after,
.menu-inner::before {
    content: "";
}
.menu-line,
.menu-inner::after,
.menu-inner::before {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    transition: 0.15s ease-out;
    background-color: #fff;
}
.menu-inner::after {
    bottom: 0px;
}
#nav-container:focus-within .menu {
    pointer-events: none;
    cursor: pointer;
}
#nav-container:focus-within .menu-line {
    width: 0;
    opacity: 1;
    transform: translateX(10px) rotate(90deg);
}
#nav-container:focus-within .menu-inner::before {
    transform: translateY(9px) translateX(0px)
    rotate(-135deg);
}
#nav-container:focus-within .menu-inner::after {
    transform: translateY(-9px) translateX(0px)
    rotate(135deg);
}

#nav-contents {
    display: flex;
    display: -webkit-flex;
    -o-display: flex;
    -ms-display: flex;
    -moz-display: flex;
    -webkit-display: flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    justify-content: flex-start;
    width: 90%;
    max-width: 300px;
    padding: 20px;
    padding-top: 67.41px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: var(--navBg-color);
    z-index: 10;
    pointer-events: auto;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    transform: translateX(100%);
    transition: transform .3s;
    will-change: transform;
    overflow: auto;
    color: var(--Txt-color);
}
#nav-container:focus-within #nav-contents {
    transform: none;
}

#nav-contents > li {
    font-size: 25px;
    font-weight: 400;
    margin: 20px 10px;
    cursor: pointer;
}
#nav-contents > li:not(.medias) a{
    display: block;
    color: var(--Txt-color);
    opacity: 0.5;
    transition: .3s;
}
#nav-contents > li:not(.medias) {
    display: inline-block;
    position: relative;
}
#nav-contents > li:not(.medias):hover a{
    opacity: 1;
    color: var(--A-hover-color);
}
#nav-contents > li:not(.medias) a::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--Txt-color);
    transition: all .3s ease 0s;
}
#nav-contents > li:not(.medias):hover a::after {
    width: 100%;
}

.medias {
    margin: auto 0px;
}
.medias li{
    display: inline-block;
    font-size: 30px;
    margin: 0px 10px;
}
.medias li a {
    color: var(--Txt-color);
    transition: 0.25s;
    opacity: 0.5;
}
.medias li a:hover{
    opacity: 1;
}
.medias .twitter a:hover {
    color: #1DA1F2;
}
.medias .github a:hover {
    color: var(--hover-github);
}
.medias .youtube a:hover {
    color: #FF0000;
}

#space {
    height: 100vh;
}

#copyright {
    display: block;
    font-size: 15px;
}

@media screen and (max-width: 559px) {
    #header-logo {
        width: 150px;
        height: auto;
        padding: 10px 20px 7px 20px;
    }
    .menu {
        --menu-size: 15px;
        display: block;
        position: fixed;
        top: calc((37.77px - var(--menu-size)) / 2);
        right: 20px;
        width:  calc(var(--menu-size) * 1.25);
        height: var(--menu-size);
        cursor: pointer;
        z-index: 20;
    }
    .menu-line {
        top: calc(50% - 1px);
    }
    .menu-inner::after,
    .menu-inner::before {
        content: "";
    }
    .menu-line,
    .menu-inner::after,
    .menu-inner::before {
        position: absolute;
        display: block;
        width: 100%;
        height: 2px;
        transition: 0.15s ease-out;
        background-color: #fff;
    }
    .menu-inner::after {
        bottom: -1px;
    }
    #nav-container:focus-within .menu {
        pointer-events: none;
        cursor: pointer;
    }
    #nav-container:focus-within .menu-line {
        width: 0;
        opacity: 1;
        transform: translateX(7.5px) rotate(90deg);
    }
    #nav-container:focus-within .menu-inner::before {
        transform: translateY(7px) translateX(0px)
        rotate(-135deg);
    }
    #nav-container:focus-within .menu-inner::after {
        transform: translateY(-7px) translateX(0px)
        rotate(135deg);
    }
}