.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

h2 {
    display: inline-block;
    font-size: 2.3em;
    font-weight: normal;
}
h2::after {
    margin-top: 12px;
    margin-bottom: 25px;
    content: '';
    display: block;
    height: 3px;
    background-color: black;
    opacity: 0.3;
}

h3 {
    display: inline-block;
    font-size: 1.5em;
    border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}

.link-button {
    display: inline-block;
    padding: 8px 50px;
    margin-top: 30px;
    font-size: 1.0em;
    border-radius: 4px;
    color: white;
    border : solid 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}
.link-button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.3s;
}

.link-button span {
    color: white;
    display: inline-block;
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
    transition: 0.3s;
}
.link-button:hover span {
    color: black;
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    transition: 0.3s;
}
.link-button .fa-arrow-right {
    color: white;
    display: inline-block;
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
    opacity: 0;
    transition: 0.3s;
}
.link-button:hover .fa-arrow-right {
    color: black;
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
    opacity: 1;
    transition: 0.3s;
}

#cover-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
    max-width: 400px;
}

#cover-content img{
    width: 100%;
}
#cover-content p{
    margin-top: 20px;
    font-size: 20px;
}

#cover-more-scroll {
    display: block;
    font-size: 23px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #343875;
    cursor: pointer;
}

#cover-more-scroll p {
    padding: 10px 10px 50px 10px;
}

#cover-more-scroll p::after {
    content: "";
    position: absolute;
    top: 20px;
    left: 50%;
    width: 18px;
    height: 18px;
    margin-left: -9px;
    border-left: 2px solid #343875;
    border-bottom: 2px solid #343875;
    -webkit-transform: rotate(-45deg) translate(0, 0);
    transform: rotate(-45deg) translate(0, 0);
    -webkit-animation: more-scroll 1.5s infinite;
    animation: more-scroll 1.5s infinite;
}
@-webkit-keyframes more-scroll {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-25px, 25px);
        opacity: 0;
    }
}
@keyframes more-scroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-25px, 25px);
        opacity: 0;
    }
}

#bio {
    background-color:#3dc4b8;
    color: white;
    text-align: center;
}
#bio p {
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 2.0;
}

#skills {
    background-color: #489797;
    color: white;
    width: 100%;
    padding: 150px 10px;
    text-align: center;
}

#skills > div {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

#skills > div div {
    flex: 1;
}

.skill-section {
    width: 100%;
    margin-top: 35px;
    font-size: 60px;
}
.skill-section i {
    margin: 0 10px;
}
.skill-section::after{
    font-family: Roboto;
    content: attr(skill);
    display: block;
    margin-top: 15px;
    font-size: 18px;
    opacity: 0.7;
}

#works {
    background-color: #32787a;
    color: #eee;
    text-align: center;
}

#tweets{
    background-color: #1a5355;
    height: 100vh;
}

@media screen and (max-width: 559px) {
    #skills > div {
        width: 100%;
        display: block;
    }
    #skills > div >  div {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 70px;
    }
}