@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

*{
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    outline: none;
}

:root {
    --bg: #fafafa;
    --scrollbar-color: #aaa;
}
:root .darkmode-body{
    --bg: #2f2f2f;
    --scrollbar-color: #555;
}

.selection-disabled {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    font-family: Roboto, "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "游ゴシック Medium", "游ゴシック体", "Yu Gothic Medium", YuGothic, "メイリオ", Meiryo, sans-serif;
    background-color: var(--bg);
    transition: 0.3s;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: #333;
}

#theme-switch-btn {
    position: fixed;
    width: 120px;
    height: 40px;
    left: 0px;
    bottom: 0px;
    background-color: #555;
    border-radius: 0 10px 0 0; 
    transform: translateY(75%);
    transition: transform .3s ease-out;
    will-change: transform;
    text-align: center;
    cursor: pointer;
    z-index: -20;
}
#theme-switch-btn:hover {
    transform: none;
}
#theme-switch-btn > span{
    display: inline-block;
    margin: 5px;
    font-size: 15px;
    margin-top: 10px;
    transition: transform .3s;
    color: #fff;
}

::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    border: none;
}
::-webkit-scrollbar-thumb{
    background: var(--scrollbar-color);
    border-radius: 4px;
    box-shadow: none;
}
