.scroll-more {
    display: block;
    font-size: 23px;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: #343875;
    cursor: pointer;
    p {
        padding: 10px 10px 50px 10px;
        &::after{
            content: "";
        position: absolute;
        top: 20px;
        left: 50%;
        width: 18px;
        height: 18px;
        margin-left: -9px;
        border-left: 2px solid #343875;
        border-bottom: 2px solid #343875;
        -webkit-transform: rotate(-45deg) translate(0, 0);
        transform: rotate(-45deg) translate(0, 0);
        -webkit-animation: more-scroll 1.5s infinite;
        animation: more-scroll 1.5s infinite;
        }
    }
}

@-webkit-keyframes more-scroll {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        -webkit-transform: rotate(-45deg) translate(-25px, 25px);
        opacity: 0;
    }
}
@keyframes more-scroll {
    0% {
        transform: rotate(-45deg) translate(0, 0);
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: rotate(-45deg) translate(-25px, 25px);
        opacity: 0;
    }
}